---
layout: default
---
<div class="layout-top">
    <header class="l-header hideText">
        <h1 class="logo-kosys">
            こうしす！ -こちら京姫鉄道広報部システム課-
        </h1>
    </header>
    <section class="jumbotron">
        <h1 class="hideText">メニュー</h1>
        <div class="jumbotronImage">
            <img class="jumbotronMainImage" src="img/main.png" alt="メインイメージ" />
            <div class="jumbotronSlogan">
                <img src="img/slogan.svg" alt="穴だらけ！？ 弊社自慢のセキュリティ" />
            </div>
        </div>
        <!--
        <section class="special">
            <a href="news/2020/03/24/kosys-cf"">
                <h2>クラウドファンディング</h2>
                <div>現在実施中</div>
                <div>有効期限 2020.05.23</div>
            </a>
        </section>-->
        <nav class="navMap">
                
        {% for c in site.data.categoryInfo %}
            {% assign category = c[0] %}
            {% assign categoryInfo = c[1] %}
            {% if categoryInfo.hide != 1 %}
            <a class="navMap-item {{ categoryInfo.navMapClass }}" href='{{ "/" | append: category | append: "/" | relative_url }}'>
                <div class="navMap-itemNumber">
                    <span class="navMap-itemLineNumber">{{ categoryInfo.lineNumber }}</span><span class="navMap-itemStationNumber">{{ categoryInfo.stationNumber }}</span>
                </div>
                <div class="navMap-itemTitle">{{ categoryInfo.displayName }}</div>
                <div class="navMap-itemTagline">{{ categoryInfo.displayNameEnglish | upcase  }}</div>
            </a>
            {% endif %}
        {% endfor %}
        </nav>
        <div class="infoDisplay">
            <table>
                <tr>
                    <th>発車時刻のご案内</th>

                </tr>
                <tr>
                    <td><a href="special/movie.html">2024/08/05  <span style="color: greenyellow;">こうしす！EE総集編映画版</span></a></td>
                </tr>
                <tr>
                    <td>回送</td>
                </tr>
                <tr>
                    <td class="marquee"><a href="special/movie.html">到着の列車は、こうしす！EE総集編映画版です。</a></td>
                </tr>
            </table>
        </div>
    </section>
    <article class="l-content row">
        <div class="col-6">
            <section>
                <h2>お知らせ</h2>
                <p>
                    <span style="font-weight: bold; color: red;"><i class="fa fa-exclamation-circle"></i> <a href="./movie">劇場上映決定！　詳細はこちらをご覧ください</a></span><br />                    
                </p>
            </section>
            <section>
                <h2>新着情報</h2>
                        
                <ul class="post-list">
                {% for post in site.posts limit:3 %}
                    <li>
                    <span class="post-meta">{{ post.date | date: "%Y/%m/%d" }}</span>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </section>
            <section>
                <h2>ご案内</h2>
                <p>
                    これまでの作品をご覧になりたい方<br />
                    <a class="altSite" href="http://ch.nicovideo.jp/kosys"><i class="fa fa-arrow-circle-right"></i>ニコニコチャンネル</a><br />
                    <a class="altSite" href="https://www.youtube.com/user/OPAPJP"><i class="fa fa-arrow-circle-right"></i>YouTube</a>
                </p>
                <p>
                    制作元についてご関心をお持ちの方<br />
                    <a class="altSite" href="https://opap.jp/"><i class="fa fa-arrow-circle-right"></i>OPAP-JP公式サイト</a>
                </p>
            </section>
        </div>
        <section class="col-6">
            <h2>TWITTER</h2>
            <a href="https://twitter.com/kosys_pr" class="twitter-follow-button" data-show-count="false">Follow @kosys_pr</a>
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/kosys_pr">Tweets by kosys_pr</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
        <section class="col-12">
            <h2>サポーター</h2>
            <div class="sponsorList">
                <!--
                <div class="sponsorGroup">
                    <h3>協賛</h3>
                    <ul class="sponsorNameList-middle">
                        <li></li>
                    </ul> 
                </div>
                -->
                <div class="sponsorGroup">
                    <h3>作品貢献者</h3>
                    <ul class="sponsorNameList-large">
                        <li><a href="staff/">OPAP-JP contributors and others</a></li>
                    </ul>
                </div>
                <div class="sponsorGroup">
                    <!--
                    <h3>クラウドファンディング支援者</h3>
                    <ul class="sponsorNameList-middle">
                        <li></li>
                    </ul>
                    -->
                    <a href="https://opap.jp/contributors">過去の貢献者・支援者一覧</a>
                </div>
                
                
            </div>
            <div class="sponsorNote">
                ※上記のスポンサーロゴは、CC-BYではライセンスされていません。
            </div>
        </section>
        <section class="col-12">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </section>
    </article>
</div>