---
layout: default
---
<div class="layout-top">
    <header class="l-header hideText">
        <h1 class="logo-kosys">
            こうしす！ -こちら京姫鉄道広報部システム課-
        </h1>
    </header>
    <section class="jumbotron">
        <h1 class="hideText">メニュー</h1>
        <div class="jumbotronImage">
            <img class="jumbotronMainImage" src="img/main.png" alt="メインイメージ" />
            <div class="jumbotronSlogan">
                <img src="img/slogan.svg" alt="穴だらけ！？ 弊社自慢のセキュリティ" />
            </div>
        </div>
        
        <!--
        <section class="special">
            <a href="https://readyfor.jp/projects/kosys-2019-h1">
                <h2>クラウドファンディング</h2>
                <div>Readyforにて支援募集中</div>
                <div>有効期限 2019.04.30</div>
            </a>
        </section>
        -->
        
        <nav class="navMap">
                
        {% for c in site.data.categoryInfo %}
            {% assign category = c[0] %}
            {% assign categoryInfo = c[1] %}
            {% if categoryInfo.hide != 1 %}
            <a class="navMap-item {{ categoryInfo.navMapClass }}" href='{{ "/" | append: category | append: "/" | relative_url }}'>
                <div class="navMap-itemNumber">
                    <span class="navMap-itemLineNumber">{{ categoryInfo.lineNumber }}</span><span class="navMap-itemStationNumber">{{ categoryInfo.stationNumber }}</span>
                </div>
                <div class="navMap-itemTitle">{{ categoryInfo.displayName }}</div>
                <div class="navMap-itemTagline">{{ categoryInfo.displayNameEnglish | upcase  }}</div>
            </a>
            {% endif %}
        {% endfor %}
        </nav>
        <div class="infoDisplay">
            <table>
                <tr>
                    <th>発車時刻のご案内</th>

                </tr>
                <tr>
                    <td>2019/07～08ごろ こうしす！第3話Part2 公開予定</td>
                </tr>
                <tr>
                    <td>回送</td>
                </tr>
                <tr>
                    <td class="marquee"><a href="https://readyfor.jp/projects/kosys-2019-h1">クラウドファンディングご協力ありがとうございました</a></td>
                </tr>
            </table>
        </div>
    </section>
    <article class="l-content row">
        <div class="col-6">
            <section>
                <h2>お知らせ</h2>
                <p>
                    <span style="font-weight: bold; color: red;"><i class="fa fa-exclamation-circle"></i> クラウドファンディング成立！</a></span><br />
                    <a href='https://readyfor.jp/projects/kosys-2019-h1'>ご協力ありがとうございました！ <img src='https://readyfor.jp/s3/readyfor-img/project_photos/21946/medium/a17c9aaa61e80a1bf71d0d850af4e5baa9800bbd.?1550924995' /></a>
                </p>
            </section>
            <section>
                <h2>新着情報</h2>
                        
                <ul class="post-list">
                {% for post in site.posts limit:3 %}
                    <li>
                    <span class="post-meta">{{ post.date | date: "%Y/%m/%d" }}</span>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </section>
            <section>
                <h2>ご案内</h2>
                <p>
                    これまでの作品をご覧になりたい方<br />
                    <a class="altSite" href="http://ch.nicovideo.jp/kosys"><i class="fa fa-arrow-circle-right"></i>ニコニコチャンネル</a><br />
                    <a class="altSite" href="https://www.youtube.com/user/OPAPJP"><i class="fa fa-arrow-circle-right"></i>YouTube</a>
                </p>
                <p>
                    制作元についてご関心をお持ちの方<br />
                    <a class="altSite" href="https://opap.jp/"><i class="fa fa-arrow-circle-right"></i>OPAP-JP公式サイト</a>
                </p>
            </section>
        </div>
        <section class="col-6">
            <h2>TWITTER</h2>
            <a href="https://twitter.com/kosys_pr" class="twitter-follow-button" data-show-count="false">Follow @kosys_pr</a>
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/kosys_pr">Tweets by kosys_pr</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
        <section class="col-12">
            <h2>サポーター</h2>
            <div class="sponsorList">
                <div class="sponsorGroup">
                    <h3>協賛</h3>
                    <ul class="sponsorNameList-middle">
                        <li>@aetos382</li>
                        <li>@takano32</li>
                        <li>223n</li>
                        <li>IPUSIRON</li>
                        <li>IS-TRAVELER</li>
                        <li>kwd.net</li>
                        <li>misima.info</li>
                        <li>MIURA Yasuyuki</li>
                        <li>null</li>
                        <li>ROCA</li>
                        <li>slider_rt</li>
                        <li>takashi iyama</li>
                        <li>temp</li>
                        <li>turkey_pc</li>
                        <li>アイス</li>
                        <li>おーさこ</li>
                        <li>かなえ</li>
                        <li>クマ帽</li>
                        <li>クレイドル</li>
                        <li>クンスト</li>
                        <li>ごちうま</li>
                        <li>こむらさき醤油(お酢)【公式】Twitter @komurasakijozo</li>
                        <li>てるゆー</li>
                        <li>につけもの</li>
                        <li>にゃんです</li>
                        <li>のらまま</li>
                        <li>ぱいなぽー</li>
                        <li>バグ</li>
                        <li>もりじゅん</li>
                        <li>もりのうさぎ</li>
                        <li>ヤマダジロウ</li>
                        <li>りっせい</li>
                        <li>れんか</li>
                        <li>井中鯰</li>
                        <li>一野瀬翔吾</li>
                        <li>輝美</li>
                        <li>菊池 友信</li>
                        <li>吉村　崇志</li>
                        <li>元Coinhiveユーザー</li>
                        <li>高木浩光</li>
                        <li>水山猫</li>
                        <li>水野祐</li>
                        <li>雪板＠白菜アニメ</li>
                        <li>中村 聡史</li>
                        <li>電気海月のインシデント</li>
                        <li>都築 拓磨</li>
                        <li>藤田剛</li>
                        <li>奈良有限動画</li>
                        <li>龍野(たつの市)のぬんもさん</li>
                        <li>茉莉花</li>
                    </ul>
                    
                </div>
                
                <div class="sponsorGroup">
                    <h3>作品貢献者</h3>
                    <ul class="sponsorNameList-large">
                        <li><a href="staff/">OPAP-JP contributors and others</a></li>
                    </ul>
                </div>
                <div class="sponsorGroup">
                    <h3>クラウドファンディング支援者</h3>
                    <ul class="sponsorNameList-middle">
                        <li>.</li>
                        <li>@2nd_junkey</li>
                        <li>@aetos382</li>
                        <li>@sischkg</li>
                        <li>@takano32</li>
                        <li>223n</li>
                        <li>AkihiroShiroma</li>
                        <li>dicon</li>
                        <li>gankuma</li>
                        <li>hitomi</li>
                        <li>IPUSIRON</li>
                        <li>IS-TRAVELER</li>
                        <li>kawa nyan</li>
                        <li>ki-ya.</li>
                        <li>Kion</li>
                        <li>kwd.net</li>
                        <li>lunaticshade</li>
                        <li>misima.info</li>
                        <li>MIURA Yasuyuki</li>
                        <li>null</li>
                        <li>Peat</li>
                        <li>ROCA</li>
                        <li>SHIN</li>
                        <li>slider_rt</li>
                        <li>Takashi Iyama</li>
                        <li>tamagoyaki</li>
                        <li>temp</li>
                        <li>thrones</li>
                        <li>turkey_pc</li>
                        <li>yose</li>
                        <li>zaiteku</li>
                        <li>あ</li>
                        <li>アイス</li>
                        <li>おーさこ</li>
                        <li>カウプラン機関極東支部</li>
                        <li>かざま</li>
                        <li>かなえ</li>
                        <li>クマ帽</li>
                        <li>クレイドル</li>
                        <li>クンスト</li>
                        <li>ごちうま</li>
                        <li>こむらさき醤油(お酢)【公式】Twitter @komurasakijozo</li>
                        <li>さくらエボ</li>
                        <li>しばたん</li>
                        <li>ちるぼー</li>
                        <li>てふてふ</li>
                        <li>てるゆー</li>
                        <li>とかげのしっぽ</li>
                        <li>トマnyan</li>
                        <li>なまこ</li>
                        <li>につけもの</li>
                        <li>にゃんです</li>
                        <li>のらまま</li>
                        <li>ぱいなぽー</li>
                        <li>バグ</li>
                        <li>ぽこぽこ</li>
                        <li>み</li>
                        <li>むこびん</li>
                        <li>モカ</li>
                        <li>もりじゅん</li>
                        <li>もりのうさぎ</li>
                        <li>ヤマダジロウ</li>
                        <li>りっせい</li>
                        <li>りらん</li>
                        <li>れんか</li>
                        <li>井中鯰</li>
                        <li>一野瀬翔吾</li>
                        <li>賀数 義人</li>
                        <li>輝美</li>
                        <li>菊池 友信</li>
                        <li>吉村　崇志</li>
                        <li>結城洋志</li>
                        <li>元Coinhiveユーザー</li>
                        <li>紅月</li>
                        <li>高木浩光</li>
                        <li>黒音こなみ</li>
                        <li>深谷 知靖</li>
                        <li>水山猫</li>
                        <li>水野祐</li>
                        <li>星空鈴音</li>
                        <li>雪板＠白菜アニメ</li>
                        <li>中村 聡史</li>
                        <li>電気海月のインシデント</li>
                        <li>都築 拓磨</li>
                        <li>藤田剛</li>
                        <li>藤輪雄大</li>
                        <li>奈良有限動画</li>
                        <li>福田吾朗</li>
                        <li>北原 信好</li>
                        <li>夢前の夢</li>
                        <li>名前など無い</li>
                        <li>友岡 義夫</li>
                        <li>龍野(たつの市)のぬんもさん</li>
                        <li>茉莉花</li>
                    </ul>
                    <a href="https://opap.jp/contributors">過去の貢献者・支援者一覧</a>
                </div>
                
            </div>
            <div class="sponsorNote">
                ※上記のスポンサーロゴは、CC-BYではライセンスされていません。
            </div>
        </section>
        <section class="col-12">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </section>
    </article>
</div>