
<footer class="l-footer">
    <div class="footerWrapper">
        <a class="footerLogoLink" href="https://opap.jp/">
            <img class="logo-opap" src="{{ "/img/opapjp.svg" | prepend: site.baseurl }}" alt="OPAP-JP ロゴ" />
        </a>
        <small class="copyright">
            Copyright&copy;2012-{{ site.time | date: '%Y' }} <a href="https://opap.jp/contributors">OPAP-JP contributors</a>.<br />
            <a href="{{ site.baseurl }}/legal">利用規約 (Legal notices) </a>&nbsp;
            <a href="{{ site.baseurl }}/info/organization.html">団体概要</a>
            <a href="{{ site.baseurl }}/info/contact.html">お問い合わせ</a>
            
        </small>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
