@charset "utf-8";

*,
*::before,
*::after{
    
    box-sizing: border-box;
}

html{
    background-color: #ffffff;
    font-size: 62.5%; /* = 10px */
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Headings
 */

h1 {
    font-size: 2em;
}

h2,
section h1 { 
    background-color: #bd6d65;   
    border-left: 10px solid #c0392b;
    color: white;
    padding-left: 5px;
    font-size: 1.5em;
}

h3,
section section h1 {
    background-color: initial;
    border: initial;
    border-bottom: 1px dashed #85534e;
    color: #85534e;
    font-size: 1.17em;
}

h4,
section section section h1 {
    background-color: initial;
    border: initial;
    color: #85534e;
    font-size: 1.00em;
}

h5,
section section section section h1 {
    background-color: initial;
    border: initial;
    color: #85534e;
    font-size: 1.00em;
}
