@charset "utf-8";


////////////////////////////////////////////
// ページ全体
////////////////////////////////////////////

html {

    @media print {
        transform-origin: top left;
        transform: scale(0.7);
    }
}

body{
    position: relative; /* z-indexを効かせるため */
    margin: 0;
    background-image: url(../img/bg_ticket.svg);
    background-repeat: repeat;
    background-size: 90px 70px;
    font-family: 'Noto Sans Japanese', 'Noto Sans JP', '源ノ角ゴシック', 'Source Sans Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', sans-serif;
    font-size: 1.6rem;
    min-width: 1200px;
    z-index: 0;

    @media print {
        background: none;
    }
    
    @include mobile-media-query {
        padding-top: 10px;
        min-width: 0px;
        width: auto;
        transform: none;
    }
}

body::before{
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    content: "";
    width: 100%;
    height: 100%;

    background-image: url(../img/bg02.svg);
    background-size: 200px;
    background-repeat: repeat;

    @media print {
        background: none;
    }

    opacity: 0.7;
    z-index: -1;
}
////////////////////////////////////////////
// 全体レイアウト
////////////////////////////////////////////

.layout-top {
    padding-top: 20px;
}

.layout-page {
    position: static; 
    width: 1200px;
    min-height: 100%;
    margin:  0 auto;
    @include mobile-media-query {
        width: auto;
    }
}

////////////////////////////////////////////
// ヘッダー
////////////////////////////////////////////

%logoImage{
    display: block;
    content: "";
    
    position: relative;
    top: -50px;
    margin: 0 auto;
    height: 285px;
    width: 500px;

    background-image: url(../img/logo.svg);
    background-position: 0 0;
    background-size: contain;

    z-index: 10;
}


.l-header{
    position: relative;
    padding-top: 5px;
    margin-top: -20px;

    >.logo-kosys{
        display: block;
        position: relative;
        margin-bottom: 65px;
        padding: 0;
        height: 85px;
        width: 100%;
        background-color: #c0392b;
        
        -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3) );
        -moz-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3) );
        -ms-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3) );
        -o-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3) );
        filter:         drop-shadow(1px 1px 2px rgba(0,0,0,0.3) );
    }

    .logoImage{
        @extend %logoImage;
    }

}

.layout-top .l-header 
{
    >.logo-kosys {
        @include mobile-media-query {
            height: 42.5px;
            width: 100%;
        }
    }

    >.logo-kosys::before{
        @extend %logoImage;

        @include mobile-media-query {
            position: relative;
            top: -25px;
            height: 142.5px;
            width: 250px;
        }
    }

    @include mobile-media-query {
        padding-top: 5px;
        margin-top: -20px;
    }
}

.layout-page .l-header {
    
    position: absolute;
    width: 100%;
    left: 0;
    top: -10px;
    padding: 0;
    margin: 0;

    @include mobile-media-query {
        height: 100px;
    }

    >.logo-kosys {
        height: 42.5px;
    }

    >.logo-kosys>.logoImage {
        top: -25px;
        left: -475px; /* = 250 / 2 - 1200 / 2  */
        height: 142.5px;
        width: 250px;
        background-size: cover;

        @include mobile-media-query {
            left: 0;
        }
    }
}


////////////////////////////////////////////
// ナビゲーション
////////////////////////////////////////////


.l-nav {
    position: relative;
    height: 140px;
    margin-top: 5px;
    margin-left: 500px;

    @include mobile-media-query {
        height: auto;
        width: 90%;
        margin: 0 auto;
        margin-top: 90px;
        padding: 0 20px;

        border: solid 1px #DDD;
        background-color: #FFFFFF;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5)  ;

    }


    .nav-title {
        display: none;
        @include mobile-media-query {
            position: relative;
            display: block;
            height: 40px;
            width: 100%;
            text-align: center;
            color: #85534e;
            font-size: 1.2em;

            &::before {
                content: "";
                display: inline-block;
                height: 40px;
                vertical-align: middle;
            }

            &::after {
                content: "▼";
                display: block;
                position: absolute;
                right: 0;
                top: 12.5px;
                font-size: 10px;
            }
        }
    }

    .nav-toggle {
        display: none;
    }

    .nav-list {
        position: absolute;
        display: block;

        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;

        height: 130px;
        
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;

        @include mobile-media-query {
            position: static;
            height: auto;
            right: auto;
            -webkit-writing-mode: initial;
            -ms-writing-mode: initial;
            writing-mode: initial;
        }
    }

    @include mobile-media-query {
        .nav-list {
            display: none;
        }
        .nav-toggle:checked + .nav-list {
            display: block;
        }
        .nav-toggle:checked ~ .nav-list {
            display: block;
        }
        .nav-toggle:checked ~ .nav-title::after {
            transform: rotate(90deg);
        }
    }

    .nav-item {
        display: block;
        
        width: 40px;
        height: 100%;

        margin-left: 20px;
        border: solid 1px #DDD;
        background-color: #FFFFFF;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5)  ;

        text-align: left;


        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;


        @include mobile-media-query {
            height: 40px;
            width: 100%;
            margin: 5px 0;
            -webkit-writing-mode: initial;
            -ms-writing-mode: initial;
            writing-mode: initial;
        }
    }

    .nav-link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding-right: 4px;
        color: black;
        text-decoration: none;

        @include mobile-media-query {
            padding-left: 0;
            padding-top: 4px;
        }
    }

    .nav-item-title {
        display: block;
        font-size: 18px;
        line-height: 1.0;
        padding-top: 28px;

        @include mobile-media-query {
            padding-top: 0;
            padding-left: 28px;
        }
    }

    .nav-item-tagline {
        display: block;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1.0;
        font-size: 8px;
        padding-top: 28px;

        @include mobile-media-query {
            padding-top: 0;
            padding-left: 28px;
        }
    }

    .nav-item-number {
        box-sizing: border-box;
        position: absolute;
        top: 5px;
        left: 10px;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #c0392b;

        color: white;
        text-align:center;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1.0;
        font-size: 8px;

        -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
        writing-mode: initial;

        overflow: hidden;


        @include mobile-media-query {
            top: 10px;
            left: 5px;
        }
    }
    .nav-item-lineNumber {
        display: block;
        width: 100%;
        font-size: 8px;
        line-height: 7px;
        padding-top: 1px;
    }
    .nav-item-stationNumber {
        display: block;
        width: 100%;
        font-size: 10px;
    }
    .nav-item-active {
        background-color: #FFDDDD;
        border: solid 1px #FFD0D0;
        font-weight: 700;
    }
}




////////////////////////////////////////////
// メインコンテンツ
////////////////////////////////////////////


.l-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6)  ;
    padding: 10px 10px;

    border: 5px solid #c0392b;
    border-radius: 10px;

    @include mobile-media-query {
        width: 100%;
        height: auto;
        border-left: none;
        border-right: none;
        height: auto;
        margin: 0 auto;
    }
    
}


.layout-top {
    .l-content {
        width: 1200px; 
        margin: 0 auto;
        min-height:500px;
        background-color: white;
        border: 5px solid #c0392b;
        border-radius: 30px;

        @include mobile-media-query {
            margin-top: 1em;
            width: 100%;
            height: auto;
            border-left: none;
            border-right: none;
        }
    }

    .l-content section{
        padding: 20px;
        margin: 0;
    }

    .l-content>section>h1{
        /*TODO: 適切な場所に移動する */
        padding: 20px;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        border-left: 10px solid #c0392b;
    }

    .altSite{
        font-size: 150%;
    }
}


.layout-page {

    .l-content {
        margin-top: 10px;
        padding: 10px 20px;
    }

    .l-content-header{
        position: relative;
    }

    .l-content-body {
        @extend .row;
        min-height: 400px;
        margin-top: 20px;
        padding-bottom: 100px;
    }

    .l-content-nav{
        background-color: #c0392b;
        height: 20px;
    }

    .l-content-title{
        text-align: center;
        margin: 0 0;
        font-size: 36px;
    }
    .l-content-title-tagline{
        text-align: center;
        margin: 2px;
        font-size: 18px;
    }
    .l-content-body-main {
        @extend .col-9;
        padding:0 10px;
    }
    .l-content-body-sidebar {
        @extend .col-3;
        padding:0 10px;

        h2 {
            border-left: none;
            font-size: 1.17em;
        }
    }
}

////////////////////////////////////////////
// フッター
////////////////////////////////////////////


.l-footer{
    margin-top: 100px;
    width: 100%;
    background-color: #d4934d;
    min-height: 50px;
    padding-bottom: 20px;

    @include mobile-media-query {
        margin-top: 70px;
    }


}

.footerWrapper{
    position: relative;
    width: 1200px;
    margin: 0 auto;

    @include mobile-media-query {
        width: 100%;
        padding-top: 50px;
    }
}

.footerWrapper>.footerLogoLink{
    display: block;
    position: absolute;
    top: -98px;
    right: 10px;
    
    width: 300px;
    height: 150px;

    @include mobile-media-query {
        top: -66px;
        width: 200px;
        height:100px;
    }

}
.footerWrapper>.logo-opap{
    width: 300px;
    height: 150px;

    @include mobile-media-query {
        width: 200px;
        height: auto;
    }
}
.footerWrapper>.copyright{
    color: white;
    font-style: normal;

    @include mobile-media-query {
        display: block;
        text-align: center;
    }
}

.footerWrapper a{
    color: white;
}

////////////////////////////////////////////
// グリッドレイアウト
////////////////////////////////////////////
.row::after {
    display: table;
    content: "";
    clear:both;
}

.col{
    float: left;
}
.col-1  { @extend .col; width:  8.33333333%; }
.col-2  { @extend .col; width: 16.66666667%; }
.col-3  { @extend .col; width: 25.00000000%; }
.col-4  { @extend .col; width: 33.33333333%; }
.col-5  { @extend .col; width: 41.66666667%; }
.col-6  { @extend .col; width: 50.00000000%; }
.col-7  { @extend .col; width: 58.33333333%; }
.col-8  { @extend .col; width: 66.66666667%; }
.col-9  { @extend .col; width: 75.00000000%; }
.col-10 { @extend .col; width: 83.33333333%; }
.col-11 { @extend .col; width: 91.66666667%; }
.col-12 { @extend .col; width: 100%; }

 
@include mobile-media-query {
    .col{
        width: 100%;
        float: none;
    }
}
