@charset "utf-8";

////////////////////////////////////////////
// 汎用スタイル
////////////////////////////////////////////

.clearfix{
    display: table;
    content: "";
    clear:both;
}

.textblock {
    padding: 10px 10px;
}

.hideText{
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}

/* 補足情報 */
.note {
    font-size: 80%;
    color: #888;
}

/* スローガン・キャッチコピー */
.slogan {
    color: #85534e;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.0em;
}


/* 標準表スタイル */
.table-common {
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
    table-layout: fixed;
    border-top: none;
    border-bottom: 4px solid #bd6d65;
    font-size: 1.2em;


    th{
        color: #bd6d65;
    }

    >thead>tr>th,
    >thead>tr>td {

        padding: 10px 5px;
        border-bottom: 4px solid #bd6d65;
    }
    
    >tbody>tr {
        background-color: #FFF8F8;
        
    }
    >tbody>tr:first-child>th,
    >tbody>tr:first-child>td {
        border-top: 4px solid #bd6d65;
    }

    >tbody>tr:nth-child(2n + 1) {
        background-color: #FFFFFF;
    }
    
    >tbody>tr>th,
    >tbody>tr>td {

        padding: 10px 5px;
        border-bottom: 2px solid #bd6d65;
    }
    
    >tbody>tr>th {
        font-weight: normal;
        text-align: left;
        width: 150px;
    }


    
    >tbody>tr>td {
        text-align: left;
        width: auto;
    }
    

    ul {
        margin: 0 0;
        padding: 0;
        list-style: none;
        >li {
            margin: 0;
            padding: 0;
        }
    }

}

/* スクロール */
.marquee {
    overflow: hidden;
    >* {
        display: inline-block;
        padding-left: 100%;
        white-space: nowrap;
        animation: anime-marquee 20s linear infinite;
    }
}

@keyframes anime-marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

////////////////////////////////////////////
// 見出し
////////////////////////////////////////////

.heading-inline-tagline {
    font-size: 80%;
}

////////////////////////////////////////////
// TOPのメイン絵
////////////////////////////////////////////

.jumbotron {
    position: relative;
    text-align: center; 
    width: 1200px; 
    margin: 0 auto;
    height: 720px;
    overflow: visible;

    @include mobile-media-query {
        width: 80%;
        height: auto;
        margin: 0 auto;
        overflow: visible;
    }
}

.jumbotron>h1{
    position: absolute;
    left: 0;
    top: 0;
    border: initial;
    background: initial;
}

.jumbotronImage{
    position: relative;
    margin: 0 auto;
    width: 720px;
    height: 720px;
    z-index: 0;

    @include mobile-media-query {
        margin: 0;
        width: 100%;
        height: auto;
        overflow: visible;
    }
}

.jumbotronImage::before {
    display: block;
    content: "";

    position: absolute;
    top:7%;
    left:0;

    width: 100%;
    height: 100%;

    background-image: url(../img/bg_line.svg);
    background-repeat: no-repeat;
    background-size: cover;

    transform-origin:center;
    transform: rotateX(45deg);

    z-index: -1;
}

.jumbotronMainImage{
    width: 720px;
    height: 720px;
    transform: translateZ(400px);

    @include mobile-media-query {
        margin: 0;
        height: auto;
        width: 100%;
    }
}

.jumbotronSlogan{
    position: absolute;
    right: -140px;
    top: 30px;
    width: 140px;
    height: 500px;

    transform:translateZ(410px) rotate(5deg)  ;

    color: #65ace4;

    @include mobile-media-query {
        right: -5vw;
        top: 15vw;
        width: 20vw;
        height: 70vw;
        transform: rotate(5deg) translateZ(450px);
    }
   
}

.jumbotronSlogan>img{
    width: 140px;
    height: 500px;

    @include mobile-media-query {
        width: 100%;
        height: auto;
    }
}


.special{
    position: absolute;
    right: 10px;
    top: -100px;

    height: 100px;
    width: 250px;
    padding: 5px 10px;

    transform: rotate(15deg);

    background-color: white;
    background-image: url(../img/bg_ticket_blue.svg);
    background-repeat: repeat;
    background-size: 72px 56px;
    
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6)  ;

    text-align: center;

    animation: anime-special ease-in-out alternate 5s infinite;

    @include mobile-media-query {
        position: relative;
        left: 0;
        top: 0;
        bottom: 0;
        transform: none;
        margin: 30px auto;
        animation: anime-special-mobile ease-in-out alternate 5s infinite;

    }

    >a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
    }

    h2 {
        border: none;
        color: black;
        font-size: 1.20em;
        margin: 10px 0 0 0;
        border-bottom: solid 2px black; 
    }
}

@keyframes anime-special {
    0% { transform:  translateY(0) rotate(15deg); }
    100% { transform:  translateY(-10px) rotate(15deg); }
}

@keyframes anime-special-mobile {
    0% { transform:  translateY(0) rotate(5deg); }
    100% { transform:  translateY(-10px) rotate(5deg); }
}
.infoDisplay{
    position: absolute;
    background-color: #888;
    border-top: 5px solid #44aacc;
    height: 150px;
    width: 420px;
    right: 10px;
    bottom: 10px;
    color: white;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6)  ;
    border-radius: 5px;
    padding: 0 10px;

    @include mobile-media-query {
        position: static;
        width: 100%;
    }
}

.infoDisplay table{
    table-layout: fixed;
    width: 100%;
    border-spacing: 3px;
}

.infoDisplay table th{
    font-weight: 600;
}
.infoDisplay table td{
    background-color: black;
    height: 1.8rem;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: left;
    color: #de9610;

    a {
        text-decoration: none;
        color: #de9610;
    }
}



////////////////////////////////////////////
// 路線図風ナビゲーション
////////////////////////////////////////////

.navMap {
    position: absolute;
    left: 0;
    top:0;
    z-index: 10;

    @include mobile-media-query {
        position: relative;
        width: 100%;
    }
}

.navMap-item{
    display: block;
    text-decoration: none;

    position: relative;
    border-radius: 27px;
    height: 54px;
    width: 200px;

    background-color: #56a764;
    border: 2px solid white;
    margin: 20px 0;

    color: white;
    font-weight: 600;

    line-height: 1.0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3)  ;

    @include mobile-media-query {
        width: 100%;
    }
}


.navMap-item::after{
    display: block;
    content: "";

    position: absolute;
    width: 15px;
    height: 45px;

    top: 50px;
    left: 17px;
    
    background-color: #44aacc;
    z-index: -1;
}

.navMap-item:last-of-type::after{
    display: none;
}

.navMap-item:hover::before{
    display: block;
    content: "";

    position: absolute;
    width: 100%;
    height:100%;
    border-radius: 27px;

    background-color: white;
    opacity: 0.2;
}

.navMap-item:nth-of-type(2n){
    background-color: rgb(124, 198, 74);
}
.navMap-item:nth-of-type(2n+1){
    background-color: #f29f05;
}

.navMap-item.navMap-item-important{
    background-color: #c0392b;
}

.navMap-itemTitle{
    margin-left: 55px;
    margin-right: 27px;
    font-size: 20px;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 5px;
}
.navMap-itemTagline{
    text-align: left;
    margin-left: 55px;
    font-size: 10px;

}

.navMap-itemNumber{
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;

    color: black;
    text-align:center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.0;

    overflow: hidden;
}
.navMap-itemLineNumber{
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 14px;
    padding-top: 2px;
}
.navMap-itemStationNumber{
    display: block;
    width: 100%;
    font-size: 20px;
}

////////////////////////////////////////////
// 駅番号表示（ページタイトル用）
////////////////////////////////////////////

.headingCategoryLink {
    color: black;
    text-decoration: none;
}
.headingCategoryLink:hover {
    color: #666;
    text-decoration: underline;
}


.pageNumber {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    left: 50px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #c0392b;

    color: white;
    text-align:center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.0;
    text-decoration: none;

    overflow: hidden;

    @include mobile-media-query {
        top: 5px;
        left: 5px;
        transform: scale(0.5);
    }
}
.pageNumber:hover{
    background-color: #f88;
}

.pageNumber-line {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 14px;
    padding-top: 2px;
}

.pageNumber-station {
    display: block;
    width: 100%;
    font-size: 20px;
}

////////////////////////////////////////////
// スポンサー
////////////////////////////////////////////

.sponsorList {
}

.sponsorGroup {
    text-align: center;   
    margin-bottom: 30px;
}

.sponsorGroup h3 {
    margin: 5px 0;
}

.sponsorLogo {
    width: 300px;
    margin: 1em;
}

.sponsorLogo-middle {
    width: 200px;
    margin: 1em;
}


.sponsorNameList {
    display: block;
    margin: 0px;
    padding: 0;
    li {
        display: inline-block;
        margin: 10px 5px;
        padding: 3px 5px;
        background-color: #FFDDDD;
        border-right: solid 1px #EEAAAA;
        border-bottom: solid 1px #EEAAAA;
    }
}

.sponsorNameList-large {
    @extend .sponsorNameList;
    font-size: 120%;
}

.sponsorNameList-middle {
    @extend .sponsorNameList;
    font-size: 100%;
}

.sponsorNameList-small {
    @extend .sponsorNameList;
    font-size: 80%;
}

.sponsorNameList-xsmall {
    @extend .sponsorNameList;
    font-size: 70%;
}

.sponsorNote {
    font-size: 70%;
    text-align: center;
}

////////////////////////////////////////////
// 新着情報用スタイル
////////////////////////////////////////////
.post {
    @extend .l-content-body-main;
}
.post-title {
    background: none;
    color: #85534e;
    border: none;
}

.post-meta {
    text-align: right;
    color: #666;
}
.post-content {
    padding: 10px;
    margin-bottom: 30px;
}

.post-nav {
    position: relative;
    border-top: 1px dashed #85534e;
    color: #666;
    .post-prev{
        display: block;
        width: 50%;
        text-align: left;
    }
    .post-next{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        text-align: right;
    }
    .post-next::after{
        display: table;
        content: " ";
        clear: both;
    }
}

.post-sidebar {
    @extend .l-content-body-sidebar;
}

////////////////////////////////////////////
// 記事一覧
////////////////////////////////////////////

.layout-top {
    .post-list {
        display: block;
        list-style: none;
        margin: 0 0;
        padding: 0;
        li {
            display: block;
            margin: 0;
            padding: 0;
            margin: 10px 0;
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .post-meta {
            font-weight: bold;
        }
        .post-link {

        }
    }
}
.post-sidebar {
    .post-list {
        display: block;
        list-style: none;
        margin: 0 0;
        padding: 0;
        li {
            display: block;
            margin: 0;
            padding: 0;
        margin: 10px 0;
        }
        .post-meta {
            display: block;
            font-weight: bold;
            text-align: left;
        }
        .post-link {
            display: block;
        }
    }
}

////////////////////////////////////////////
// キャラクター紹介用スタイル
////////////////////////////////////////////
.character {
    width: 100%;
    
    h3{
        border: none;
        border-left: 10px solid #bd6d65;
        padding-left: 8px;
    }
        
    .character-name {
        display: inline-block;
        background: none;
        color: #85534e;
        border: none;
        font-size: 2em;
        margin: 0;
        padding: 0;
        margin-right: 10px;
    }

    .character-englishName {
        display: inline;
        font-size: 1.5em;
        color: #888;
        margin: 0;
        padding: 0;
    }
}

.character-voiceActor {
    font-size: 1.2em;
    color: #666;
    margin: 0;
    padding: 0;
}

.character-image-undefined{
    font-size: 20px;
    text-align:  center;
    color: #DDDDDD;
    >i {
        font-size: 200px;
    }
    >span{
        display: block;
        margin-top: 10px;
    }
}

.character-profile-table {
    @extend .table-common;
}

.character-slogan {
    color: #85534e;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1.0em;
}

.character-slogan::before{
    content: "――";
    display: inline;
}

.character-content {
    margin-bottom: 50px;
}

.character-nav {
    margin-top: 50px; 
}

.character-list {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    * {
        box-sizing: border-box;
    }
}

.character-list::after {
    @extend .clearfix;
}

.character-list-item {
    display: block;
    float: left;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0;
    border: 1px solid #DDDDDD;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    width: calc(100% / 4 - 5px) ;
    @include mobile-media-query {
        width: 100%;
    }
    a {
        display: block;
        position: relative;
        width: 100%;
        min-height: 90px;
        padding: 5px 0 0 90px;
        text-decoration: none;
    }
    a:hover::before{
        display: block;
        content: "";

        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height:100%;

        background-color: white;
        opacity: 0.2;
        z-index: 100;
    }
    .character-thumbnail {
        position: absolute;
        left: 5px;
        top:  5px;
        width: 80px;
        min-height: 80px;
        z-index: 0;
    }
    .character-name {
        margin: 0;
        padding: 0;
        color: #85534e;
        font-size: 1.2em;
        font-weight: bold;

    }
    .character-englishName {
        margin: 0;
        padding: 0;
        color: #666;
    }
}
////////////////////////////////////////////
// 放送情報
////////////////////////////////////////////

.onair-table {
    @extend .table-common;

    td.onair-place {
        text-align: left;
    }
    td.onair-date {
        text-align: center;
    }
}
////////////////////////////////////////////
// 作品概要
////////////////////////////////////////////

.table-series {
    @extend .table-common;

    >tbody>tr>th,
    >tbody>tr>td {
        height: 5em;
        text-align: center;
        vertical-align: middle;
        padding: 0;
    }
    .col-item-name {
        width: 30%;
    }
    .check-yes {
        color: green;
    }
    .check-partial{
        color: gold;
    }
    .check-no{
        color: red;
    }
    .cell-work-list {
        font-size: 80%;

        ul {
            display: inline-block;
            text-align: left;
        }
        li {
            list-style: circle;
        }
    }
}

////////////////////////////////////////////
// ストーリー
////////////////////////////////////////////

.episode {
    position: relative;
}
.episode-body {
    padding: 10px;
}

.episode-link {
    a {
        font-size: 1.5em;
        text-decoration: none;
    }

    a:hover {
        opacity: 0.5;
    }

    .episode-link-list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        >li {
            display: block;
            width: 50%;
            margin: 0;
            padding: 0;
            padding-left: 3em;
            float: left;
            text-align: left;
        }
        &::after{
            @extend .clearfix;
        }
    }

    .niconico {
        color: #666;
    }
    .youtube {
        color: #c0392b;
    }
    .danimestore {
        color: #ea552a;
    }
}


////////////////////////////////////////////
// 利用規約
////////////////////////////////////////////

.signature {
    text-align: right;
    margin: 30px 0;
}

////////////////////////////////////////////
// ボタン
////////////////////////////////////////////

.btn {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: orange;
    text-decoration: none;
    border-radius: 3px;
    &:hover{
    background-color: #F9C270;

    }
}


