---
layout: page
category: characters
---

<section>
  <h2>メインキャラクター</h2>
  <ul class="character-list">
    {% assign charpages = site.pages | where: 'layout', 'character' | where: 'characterType', 'main' | sort: 'sortOrder'  %}
    {% for page in charpages %}
        <li class="character-list-item">
            <a href="{{ page.url | prepend: site.baseurl }}">
                <img class="character-thumbnail" alt="{{ page.title }}" src="{{ page.thunbmail | relative_url }}" />
                <p class="character-name">{{ page.title }}</p>
                <p class="character-englishName">{{ page.englishName }}</p>
            </a>
        </li>
    {% endfor %}
  </ul>
</section>


<section>
  <h2>サブキャラクター</h2>
  <ul class="character-list">
    {% assign charpages = site.pages | where: 'layout', 'character' | where: 'characterType', 'sub' | sort: 'sortOrder'  %}
    {% for page in charpages %}
        <li class="character-list-item">
            <a href="{{ page.url | prepend: site.baseurl }}">
                <img class="character-thumbnail" alt="{{ page.title }}" src="{{ page.thunbmail | relative_url }}" />
                <p class="character-name">{{ page.title }}</p>
                <p class="character-englishName">{{ page.englishName }}</p>
            </a>
        </li>
    {% endfor %}
  </ul>
</section>