---
layout: default
---
<div class="layout-page {% for category in page.categories %} category-{{ category }}{% endfor %}">
    <header class="l-header hideText">
        <h1 class="logo-kosys">
            <a class="logoImage" href='{{ "/" | prepend: site.baseurl }}'>
                こうしす！ -こちら京姫鉄道広報部システム課-
            </a>
        </h1>
    </header>

    <nav class="l-nav">
        <ul class="nav-list">
        {% for c in site.data.categoryInfo %}
            {% assign category = c[0] %}
            {% assign categoryInfo = c[1] %}
            <li class="nav-item nav-item-news {% if page.category == category %}nav-item-active{% endif %}">
                <a href='{{ "/" | append: category | append: "/" | relative_url }}' class="nav-link">
                    <span class="nav-item-number">
                        <span class="nav-item-lineNumber">{{ categoryInfo.lineNumber }}</span><span class="nav-item-stationNumber">{{ categoryInfo.stationNumber }}</span>
                    </span>
                    <span class="nav-item-title">{{ categoryInfo.displayName }}</span>
                    <span class="nav-item-tagline">{{ categoryInfo.displayNameEnglish | upcase  }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>

    <article class="l-content">

        <div class="l-content-header">
            {% assign categoryInfo = site.data.categoryInfo[page.category] %}
            <h1 class="l-content-title">{{ categoryInfo.displayName }}</h1>
            <div class="l-content-title-tagline">
                {{ categoryInfo.displayNameKana }}　{{ categoryInfo.displayNameEnglish }}
            </div>
            <nav class="l-content-nav">
                {% if page.previous_url %}
                    <a class="prev" href="{{page.previous_url}}">{{page.previous_title}}</a>
                {% endif %}
                {% if page.next_url %}
                    <a class="next" href="{{page.next_url}}">{{page.next_title}}</a>
                {% endif %}
            </nav>
            {% if categoryInfo.lineNumber %}
            <div class="pageNumber">
                <span class="pageNumber-line">{{categoryInfo.lineNumber}}</span>
                <span class="pageNumber-station">{{categoryInfo.stationNumber}}</span>
            </div>
            {% endif %}
        </div>

        <div class="l-content-body">
            {{ content }}
        </div>
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </article>
</div>